* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: #000;
}
:root{
	/* transition:all 0.8s ease 0s; */
	--transition: all 3s ease 0s;
}
.slider {
	height: 100%;
}
.slider__layer {
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center;
	will-change: transform;
	background-position: center;
	transition: var(--transition) !important;
	/* transition: var(--transition)!important; */
}

.slider__layer::before{
	content: "";
	position: absolute;
	inset: 0;
	z-index: 1;
	box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.3);
}

.slider {
}
.swiper-wrapper {
	transition: var(--transition) !important;
	will-change: transform;
}
.slider__wrapper {
	transform-style: preserve-3d;
}
.swiper-slide {
}
.slider__item {
	overflow: hidden;
}
